
<!doctype html>
<html lang="en">
  <head>

	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
   
	  <style>
	.backc {
    color: white;
     background-image: url("https://images.unsplash.com/photo-1541960394435-cff41352d1e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");  
         }
  </style>
   
  </head>

  <body   class=" backc text-center">
	  
    
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     
		
		
		
		  <br><br><br><br>
        <h1 class="cover-heading col-xs-4">YELPCAMP</h1>
		<br><br>
        <p class="lead"> Experience Nature at its Best</p>
		<p>
			Spending time in open air, gazing out at stars and taking in every bit of the tranquillity that comes with being so close to nature is the joy of camping. Be it an adventurous holiday or a peaceful one, camping is the new “it” thing because staying in a resort or a hotel is so passé.
		</p>
		  <br><br><br>
		
       <form action="/campgrounds">
        <button type="submit" class="btn btn-primary">view campgrounds</button>
       </form>
	
		
	  </div>
	</body>
	

